pkgbase = awcc-g16-7630-linux
	pkgdesc = Alienware Command Center for the Dell G16 7630 (GTK4 frontend, fork of tr1xem/AWCC)
	pkgver = 26.9.23_1
	pkgrel = 1
	url = https://github.com/Grant-Felix/AWCC-G16-7630-Linux
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = ninja
	makedepends = meson
	makedepends = git
	makedepends = pkgconf
	depends = gtk4
	depends = libadwaita
	depends = glib2
	depends = gcc-libs
	depends = systemd-libs
	depends = acpi_call-dkms
	provides = awcc
	conflicts = awcc
	conflicts = awcc-bin
	conflicts = awcc-git
	source = awcc-g16-7630-linux-26.9.23_1.tar.gz::https://github.com/Grant-Felix/AWCC-G16-7630-Linux/archive/refs/tags/v26.9.23-1.tar.gz
	sha256sums = e0bf59e60e45627ffd2dc435d1db74ca806d454f34da054c249167727808be64

pkgname = awcc-g16-7630-linux
